.anim_bg {
    background: #31384e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(top, #31384e, #000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom, #31384e, #000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-5ient(bottom, #31384e, #000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, #31384e, #000); /* Standard syntax */
    -webkit-animation: bgimg 2s;
    -webkit-animation-delay: 7.5s;/* !!! addEventListener in file preload/js/main.js */
}
@-webkit-keyframes bgimg {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
.anim-appear {
    height: 250px;
    -webkit-animation-name: appear;
    -webkit-animation-duration: 2s;
}
.anim-disappear {
    -webkit-animation-name: disappear;
    -webkit-animation-duration: 2s;
}
.iphone_big {
    -webkit-animation-name: iphonezoom;
    -webkit-animation-duration: 2s;
    /*-ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);*/
}
@-webkit-keyframes iphonezoom {
    0% { -ms-transform: scale(1); -webkit-transform: scale(1); transform: scale(1);}
        /*-ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}*/
    100% {-ms-transform: scale(0.8); -webkit-transform: scale(0.8); transform: scale(0.8);}
        /*-ms-transform: translateY(-115px); -webkit-transform: translateY(-115px); transform: translateY(-115px);}*/
}
#selfie_stick {
    margin-top: 10%;
    width: 40%;
    position: absolute;
    float: left;
}
#camera, #square {
    margin-top: 9%;
    margin-left: auto;
    margin-right: auto;
    width: 43%;
    position: absolute;
    text-align: center;
    z-index: 26;
}
.anim-camera svg {
    transform-style: preserve-3d;
}
.anim-camera {
    -webkit-animation: cam 2s ease;
    transform: rotateY(180deg);
}
.anim-button1 {
    -webkit-animation: btnc 2s ease;
}
@-webkit-keyframes cam {
    0%, 25% {transform: rotateY(0);}
    25% {transform: rotateY(0);}
    100% {transform: rotateY(180deg);} /*{transform: translate3D(0, 0, 0); opacity: 1;}
    50% {transform: translate3D(0, 0, 0); opacity: 1;}
    100% {transform: translate3D(0, 80px, 0); opacity: 0;}*/
}
@-webkit-keyframes btnc{
    0% {transform: translate3D(0, 0, 0); opacity: 0;}
    100% {transform: translate3D(0, 80px, 0); opacity: 1;}
}
#anim_svgs {
    display: flex;
    text-align: center;
}
#anim_svgs img {
    bottom: 100px;
}
#flash1, #flash2, #square {
    position: absolute;
    border-radius: 50%;
    z-index: 28;
}
#flash1 {
    margin-top: 3%;
    margin-left: 5%;
    width: 43px;
    height: 43px;
    background-color: #fff;
    -webkit-filter: blur(8px);
    -moz-filter: blur(8px); 
    -o-filter: blur(8px);
    -ms-filter: blur(8px); 
    filter: blur(8px);
}
#flash2 {
    width: 250px;/*calc(100%/6); hut Opera doesn't support calc*/
    height: 250px;
    -webkit-animation: flashlight2 2s ease-out;
}
@-webkit-keyframes flashlight2 {
    0% {background: rgba(255, 255, 255, 0.2); -webkit-filter: blur(40px); filter: blur(40px);}
    100% {background: #fff; -webkit-filter: blur(100px); filter: blur(100px);}
}

/* Loader */
.loader {
    height: 4px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
}
.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -100px;
    width: 100px;
    height: 4px;
    background-color: #de3e52;
    animation: loading 2s linear infinite;
}
@keyframes loading {
    from {left: -100px; width: 30%;}
    50% {width: 30%;}
    80% {width: 70%;}
    90% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
/* Animation variant 1 */
.animate-b-txt h1, .animate-b-txt h2, .animate-b-txt h3 {
    animation: pop-in .6s cubic-bezier(0, 0.7, 0.3, 1.2) forwards;
    opacity: 0;
}
.animate-b-txt h2, .animate-b-txt h3 {
    animation-delay: .4s;
}
.animate-b-txt h1 {
    animation-delay: .1s;
}

/* Animations variant 2*/
/*.animate-b-txt1 h2, .animate-b-txt1 h3 {
    animation: pop-in .6s cubic-bezier(0, 0.7, 0.3, 1.2) forwards;
    opacity: 0;
}
.animate-b-txt1 h2, .animate-b-txt1 h3 {
    animation-delay: .7s;
}
.animate-b-txt1 h1 {
    animation: pop-in2 5s ease;
    animation-delay: .1s;
}*/
/*.anim_bg1 {
    padding: 150px 100px;
    display: flex;
    width: 300px;
    height: 300px;
    background-color: #fff;
    border-radius: 50%;
    animation: anim_bgnew 1s ease-out;
    z-index: 17;
}*/
@-webkit-keyframes anim_bgnew {
    0% { 
        width: 300px;
        -webkit-filter: blur(8px);
        -moz-filter: blur(8px); 
        -o-filter: blur(8px);
        -ms-filter: blur(8px); 
        filter: blur(8px);
    }
    100% { 
        width: 500px;
        -webkit-filter: blur(100px);
        -moz-filter: blur(100px); 
        -o-filter: blur(100px);
        -ms-filter: blur(100px); 
        filter: blur(100px);
    }
}

/*.anim-b-txt1 {
    opacity: 1;
    background-position: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: bgimg1 2s;
    -webkit-animation-delay: 7.5s;
}
@-webkit-keyframes bgimg1 {
    0% {opacity: 1; background-size: 0%;}
    100% {opacity: 1; background-size: 100%;}
}*/

/* Keyframes */
@-webkit-keyframes decrease {
    from {-webkit-transform: scale(1); transform: 0}
    to {-webkit-transform: scale(0.3); transform: translateY(-40px)}
}
@keyframes decrease {
    from {-webkit-transform: scale(1); transform: 0} 
    to {-webkit-transform: scale(0.3); transform: translateY(-40px)}
}
@keyframes pop-in {
    0% {
        opacity: 0;
        transform: translateY(-70px);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
@media screen and (max-width: 2054px) {
    .anim_bg {
        height: 100vh !important;
    }
}
@media screen and (min-width: 768px) {
    #square {
        -webkit-animation: flowsquare 0.5s ease;
    }
    @-webkit-keyframes flowsquare {
        0% {-ms-transform: translateY(0); -webkit-transform: translateY(0); transform: translateY(0);}
        100% {-ms-transform: translateY(10px); -webkit-transform: translateY(20px); transform: translateY(20px);}
    }
}
@media screen and (max-width: 1024px) {
    #camera, #square {
        margin-top: 8%;
        width: 40%;
    }
    #flash1 {
        width: 33px;
        height: 33px;
    }
    #flash2 {
        width: 200px;
        height: 200px;
    }
}
@media screen and (max-width: 800px) {
    #camera, #square {
        margin-top: 7%;
        width: 38%;
    }
    #flash1 {
        width: 30px;
        height: 30px;
    }
}
@media screen and (max-width: 768px) {
    .anim-svgs {
        align-items: flex-end;
    }
}
@media screen and (max-width: 600px) {
    #camera, #square {
        top: 23%;
        left: 15%;
        width: 70%;
    }
    #selfie_stick {
        width: 55%;
    }
}
@media screen and (max-width: 549px) {
    #camera, #square {
        left: 17%;
    }
    #square svg {
        width: 0.6in;
    }
    #camera svg {
        width: 0.8in;
    }
    #flash1 {
        width: 17px;
        height: 17px;
    }
    #flash2 {
        width: 150px;
        height: 150px;
    }
}
@media screen and (max-width: 400px) {
    #selfie_stick {
        width: 40%;
        left: 27%;
    }
}
@media screen and (max-width: 549px) and (orientation: portrait) {
    #selfie_stick {
        left: 25%;
        width: 45%;
    }
    #camera, #square {
        top: 25%;
    }
}
@media screen and (max-width: 768px) and (orientation: landscape) {
    #camera, #square {
        top: 55%;
        left: 15%;
        width: 70%;
    }
    #selfie_stick {
        width: 60%;
        left: 20%;
    }
}
@media screen and (max-width: 400px) and (orientation: portrait) {
    #camera, #square {
        top: 30%;
        left: 15%;
    }
    #selfie_stick {
        width: 50%;
        left: 20%;
    }
}
@media screen and (max-width: 400px) and (orientation: landscape) {
    #camera, #square {
        top: 30%;
        left: 25%;
        width: 70%;
    }
}
@media screen and (max-width: 350px) {
    #camera, #square {
        top: 40%;
    }
}
@media screen and (max-width: 320px) {
    #camera, #square {
        top: 42%;
    }
}
