.topnav .icon {
    background-color: #555;
    border-radius: 7px;
    display: none;
}
.topnav {
    width: 100%;
    height: 50px;
    position: fixed;
    overflow: hidden;
    z-index: 20;
}
/*select#gender option[value="female"] { background-image:url(female.png); }
select#gender option[value="others"] { background-image:url(others.png); }*/
.languages {
    width: 100px;
    height: 40px;
    top: 5px;
    right: 5px;
    float: right;
    position: fixed;
    text-align: center;
    overflow: hidden;
    border: 0 !important;
    border-radius: 7px;
    background: #555;/* Color by default */
    background-repeat: no-repeat;
    background-position: 90% center;
    background-size: cover;
    color: #fff;
    -webkit-transition: width 0.5s; /* For Safari 3.1 to 6.0 */
    transition: width 0.5s;
    z-index: 25;
}
.languages select {
    border: 0 !important;
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
    -moz-appearance: none; /* Removes Default Firefox style*/
}
select > option {
    padding: 0 10px;
    background-color: #555;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.languages:hover {
    background-image: none;
    width: 120px;
}
.languages option:hover {
    background-color: #de3e52;
}
.topnav a {
    float: left;
    /*background-color: #555;*/
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    -webkit-transition: background-color 0.8s; /* For Safari 3.1 to 6.0 */
    transition: background-color 0.8s;
}
.topnav a, .languages option {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
.topnav a:not(.languages):focus {
    background-color: #de3e52;
    color: #fff;
}
.topnav a:not(.languages):hover {
    background-color: #de3e52;
    color: #fff;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.topnav a:not(.languages):active {
    background-color: #de3e52;
    color: #fff;
}
.topnav a:not(.languages):after {
    background-color: #777;
}

@media screen and (min-width: 768px) {
    .topnav {        
        background: #555; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(top, #555, #999); /* For Safari 5.1 to 6.0 */
        background: -o-linear-gradient(bottom, #555, #999); /* For Opera 11.1 to 12.0 */
        background: -moz-linear-gradient(bottom, #555, #999); /* For Firefox 3.6 to 15 */
        background: linear-gradient(to bottom, #555, #999); /* Standard syntax */
    }
}

@media screen and (max-width: 767px) {
	.topnav {
    	width: 45px;
        display: block;
    	/*-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    	/*transition: width 1s;*/
    }
    .topnav a {
        background-color: #555;
    }
    /*nav > select:before, nav > select:after {
        display: none;
    }*/
    .languages {
        display: none;
    }
    .languages option {
        float: right;
        position: top right;
        text-align: center;
        padding: 14px 16px;
        background-color: #555;
    }
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        position: fixed;
        float: left;
        display: block;
    }
    .topnav.responsive {/*without backspace because it isn't descendant selector*/
        position: fixed;
        width: 300px;
    }
    .topnav.responsive .icon {
        background-color: #555;
        position: relative;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        border-radius: 15px;
        display: block;
        text-align: left;
        line-height: 25px;
    }
    .topnav:hover {
        width: 100%;
        height: 100%;
    }
    .topnav a:not(.languages):focus {
        background-color: #de3e52;
        color: #fff;
    }
    .topnav a:not(.languages):active{
        background-color: #e4473c;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .topnav a:not(.languages):after {
        background-color: #000;
    }
}