/* Media queries for grid system */
.row {
    margin: 0 auto;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 15px;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .col-mb-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-mb-2 {
        float: left;
        width: 50%;
    }
}
@media all and (min-width: 768px) {
    .col-1 {
        float: left;
        width: 100%;
    }
    .col-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-2 {
        float: left;
        width: 50%;
    }
    .col-3 {
        float: left;
        width: 33.33%;
    }
    .col-4 {
        float: left;
        width: 25%;
    }
    .col-5 {
        float: left;
        width: 20%;
    }
    .col-8 {
        float: left;
        width: 12.5%;
    }
    .media_bg {
        background-size: 50% center;
    }
    #page_footer {
        padding: 0 40px;
    }
}
@media screen and (max-width: 1024px) {
    #banner {
        background-repeat: no-repeat;
        background-position: center 150px;
        background-size: 150%;
    }
    #media_block, #wrapper, #about, #gallery_block, #music_block, .contact_block, #page_footer {
        padding: 0 30px;
    }
    .child {
        width: 86.32%;
    }
}
@media screen and (max-width: 1024px) and (orientation: portrait) {
    #banner div {
        height: 60vh;
    }
    #img_modal1, #img_modal2 {
        margin-top: 20%;
    }
}
@media screen and (max-width: 900px) {
    .social_c img {
        width: 80px;
    }
}
@media screen and (max-width: 900px) and (orientation: portrait) {
    #banner div {
        height: 45vh;
    }
}
@media screen and (max-width: 900px) and (orientation: landscape) {
    #m1 {
        padding-top: 10px;
    }
    #img_modal1 {
        width: 50%;
    }
    .close, #slider_auto {
        top: 3px;
        bottom: 5px;
    }
}
@media only screen and (max-width: 768px) and (orientation: landscape) {
    #banner div {
        height: 100vh !important;
    }
}
@media screen and (max-width: 767px) {
    #banner {
        background-position: center 130px;
    }
    .banner_text {
        padding: 60px 50px
    }
    .banner_text h1 {
        font-size: 3.75em;
    }
    .banner_text h2 {
        font-size: 32px;
    }
    .banner_text h3 {
        font-size: 18px;
    }
    .member-photo {
        width: 50%;
    }
    .contacts {
        padding: 20px 10px;
    }
    .contacts img {
        width: 25px;
    }
    .social_c {
        padding: 12% 10%;
    }
    .social_c img {
        width: 60px;
        padding: 10px;
    }
}
@media screen and (max-width: 599px) {
    #banner {
        background-position: center 150px;
        background-size: 100%;
    }
    .modal-content {
        width: 100%;
    }
}
@media screen and (max-width: 549px) {
    #media_block, #wrapper, #about, #gallery_block, #music_block, .contact_block, #page_footer {
        padding: 0 20px;
    }
    #banner {
        background-position: center 90px;
        background-size: 150%;
    }
    .banner_text {
        padding: 70px 30px;
    }
    .banner_text h1 {
        font-size: 3em;
    }
    .banner_text h2 {
        font-size: 1.5em;
    }
    .banner_text h3 {
        font-size: 0.9em;
    }
    .topnav a, .button_load button {
        font-size: 16px;
    }
    .child {
        width: 100%;
    }
    .gall-row {
        float: left;
        width: 100%;
    }
    .contact_block li img {
        width: 70px;
    }
    .ontop {
        width: 50px;
        height: 35px;
    }
    .ontop img {
        width: 30px;
    }
    .languages a, .topnav a {
        font-size: 16px;
    }
    #img_modal1, #img_modal2 {
        height: 70%;
    }
    #m1 ul li img {
        margin-left: -5%;
    }
}
@media all and (min-width: 501px) and (max-width: 767px) {
    .col-m-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-m-2 {
        float: left;
        width: 50%;
    }
    .col-m-3 {
        float: left;
        width: 33.33%;
    }
    .col-m-4 {
        float: left;
        width: 25%;
    }
    .col-m-5 {
        float: left;
        width: 20%;
    }
    .col-m-8 {
        float: left;
        width: 12.5%;
    }
}
@media screen and (max-width: 500px) {
    .col-ms-1 {
        float: left;
        width: 100%;
    }
    .col-ms-1-3 {
        float: left;
        width: 66.66%;
    }
    .col-ms-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-ms-2 {
        float: left;
        width: 50%;
    }
    .heading_style h1 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.2em;
    }
    .topnav a .languages a  {
        font-size: 20px;
    }
    .topnav a:not(.icon), .languages a {
        padding: 7px;
    }
    #banner {
        background-position: center 100px;
    }
    #img_modal1, #img_modal2 {
        left: 0;
        margin-top: 0
    }
    .contacts {
        padding: 0 10px;
    }
    .social_c img {
        padding: 5px;
    }
    .music_c img {
        width: 70px;
    }
}
@media screen and (max-width: 350px) {
    #banner div {
        height: 70vh;
        background-position: center 100px;
    }
    #contact_block li a { 
        padding: 14px 7px;
    }
}
