/* Media queries for grid system */
.row {
    margin: 0 auto;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 15px;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    .col-mb-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-mb-2 {
        float: left;
        width: 50%;
    }
}
@media all and (min-width: 768px) {
    .col-1 {
        float: left;
        width: 100%;
    }
    .col-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-2 {
        float: left;
        width: 50%;
    }
    .col-3 {
        float: left;
        width: 33.33%;
    }
    .col-4 {
        float: left;
        width: 25%;
    }
    .col-5 {
        float: left;
        width: 20%;
    }
    .col-8 {
        float: left;
        width: 12.5%;
    }
}
@media screen and (max-width: 1024px) {
    #banner {
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center 150px;
        background-size: 150%;
    }
    #banner div {
        height: 60vh;
    }
    #media_block, #wrapper, #about, #gallery_block, #music_block, .contact_block, #page_footer {
        padding: 0 30px;
    }
    .child {
        width: 86.32%;
    }
}
@media screen and (max-width: 900px) {
    .social_c img {
        width: 80px;
    }
}
@media screen and (max-width: 799px) {
}
@media screen and (max-width: 767px) {
    #banner {
        background-position: center 130px;
    }
    #banner div {
        height: 50vh;
    }
    .banner_text {
        padding: 60px 50px
    }
    .banner_text h1 {
        font-size: 3.75em;
    }
    .banner_text h2 {
        font-size: 32px;
    }
    .banner_text h3 {
        font-size: 24px;
    }
    .contacts {
        padding: 20px 10px;
    }
    .contacts img {
        width: 25px;
    }
    .social_c img {
        width: 60px;
        padding: 10px;
    }
}
@media screen and (max-width: 599px) {
    #banner {
        background-position: center 150px;
        background-size: 100%;
    }
    .modal-content {
        width: 100%;
    }
}
@media screen and (max-width: 549px) {
    #media_block, #wrapper, #about, #gallery_block, #music_block, .contact_block, #page_footer {
        padding: 0 20px;
    }
    #banner {
        background-position: center 90px;
        background-size: 150%;
    }
    .banner_text {
        padding: 70px 30px;
    }
    .banner_text h1 {
        font-size: 3em;
    }
    .banner_text h2 {
        font-size: 1.5em;
    }
    .banner_text h3 {
        font-size: 18px;
    }
    .topnav a, #gallery_block button {
        font-size: 16px;
    }
    .gall-row {
        float: left;
        width: 100%;
    }
    .contact_block li img {
        width: 70px;
    }
}
@media all and (min-width: 501px) and (max-width: 767px) {
    .col-m-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-m-2 {
        float: left;
        width: 50%;
    }
    .col-m-3 {
        float: left;
        width: 33.33%;
    }
    .col-m-4 {
        float: left;
        width: 25%;
    }
    .col-m-5 {
        float: left;
        width: 20%;
    }
    .col-m-8 {
        float: left;
        width: 12.5%;
    }

}
@media screen and (max-width: 449px) {
    .heading_style h1 {
        font-size: 1.75em;
    }
    h3 {
        font-size: 1.2em;
    }
    .languages option {
        width: 60px;
        height: 30px;
    }
    .languages option .topnav a {
        font-size: 20px;
    }
    #banner {
        background-position: center 100px;
    }
    .contacts {
        padding: 0 10px;
    }
}
@media screen and (max-width: 414px) {
    .col-ms-1-3 {
        float: left;
        width: 66.60%;
    }
    .col-ms-2-3 {
        float: left;
        width: 66.66%;
    }
    .col-ms-2 {
        float: left;
        width: 50%;
    }
}