/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans');*/

/* resets */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* global */
body, div, ul, li, h1, h2, h3, h4, h5, h6, form, button, th, td {/*dl, dt, dd, ol, pre, blockquote*/
    margin: 0;
    padding: 0;
    direction: ltr;
    outline: none;
    color: #fff;
}
:focus {outline: none}
body {
    background-color: #000;
}
nav #menu {
    width: 100%;
}
footer {
    margin: 0;
}
iframe {
    border: 0;
    z-index: 7;
    -webkit-transition: border;
    transition: border;
}
h1, h2, h3, #menu a, .languages a {
    font-family: 'Alegreya Sans', sans-serif;
}
h1 {
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}
p {
    font-family: 'Source Sans Pro', sans-serif; /*font-family: 'Open Sans', sans-serif, Arial, Helvetica;*/
    font-size: 16px;
}
a {
    text-decoration: none;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}
a:link {color: #e4473c;}
a:visited {color: #e4473c;}
a:hover {color: #ed8078;}
/* grid */
.row {
    margin: 0 auto;
}
.row:last-child {
    margin-bottom: 0;
}
[class*="col-"] {
    padding: 15px;
}

/* Header */
main {
    margin: 0 auto;
}
#media_block, #wrapper, #about, #gallery_block, #music_block, .contact_block, #page_footer {
    padding: 0 50px;
}
.banner_text {
    padding: 150px 100px;
    display: flex;
    z-index: 15;
    -webkit-transition: all .3s ease-in-out 1.7s;
    -moz-transition: all .3s ease-in-out 1.7s;
    transition: all .3s ease-in-out 1.7s;
}
.banner_text h1, h2, h3 {
    /*font-family: 'Ubuntu', sans-serif;*/
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-family: 'PT Sans', sans-serif;*/
    color: #de3e52;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: left;
}
.banner_text h1 {
    font-size: 7.2em;
}
.banner_text h2 {
    font-size: 40px;
}
.banner_text h3 {
    font-size: 28px;
}
.heading_style h1 {
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: 'Alegreya Sans', sans-serif;
    background: #845c05;/*#ae8e49;*/
    background: -webkit-linear-gradient(top, #fff, #845c05);
    background: -o-linear-gradient(bottom, #fff, #845c05);
    background: -moz-linear-gradient(bottom, #fff, #845c05);
    background: linear-gradient(to bottom, #fff, #845c05);
    /*color: #ae8e49;*/
    /*background: -webkit-linear-gradient(#fff, #ae8e49);*/
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
}
#banner {
    background-color: #fff;
}
.banner_photo {
    background: url(http://selfyofficial.com.ua/wp-content/uploads/2016/04/bg3.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
    -webkit-animation: bgphoto 2s;
}
@-webkit-keyframes bgphoto {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#banner div {
    width: 100%;
    height: 100vh;
    display: block;
}
#banner .row {
    clear: both;
}
#main-content {
    padding-top: 0;
}
#banner ul, #contact_block ul, #music_block {
    width: 100%;
    list-style-type: none;
}
#banner li, #contact_block li {
    float: left;
}
#banner li a,  #contact_block li a {
    padding: 10px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

/* Animation for text */
.anim_h h1, .anim_h_mob h1 {
    /*background: #ae8e49;/*#ae8e49;*/
    /*background: -webkit-linear-gradient(top, #fff, #ae8e49);
    background: -o-linear-gradient(bottom, #fff, #ae8e49);
    background: -moz-linear-gradient(bottom, #fff, #ae8e49);
    background: linear-gradient(to bottom, #fff, #ae8e49);
    -webkit-background-clip: text;
    background-clip: text;*/
    background: url(img/through_text.png);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* Activate hardware acceleration for smoother animations */
    /*-webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;*/
}
.anim_h h1 { 
    background-position: -200% 50%;
    -webkit-animation: thrt 2s linear;
}
.anim_h_mob h1 { 
    background-position: -120% 50%;
    -webkit-animation: thrt_mob 2s linear;
}
@-webkit-keyframes thrt {
    0% { background-position: 200% 50%; }
    100% { background-position: -100% 50%; }
}
@-webkit-keyframes thrt_mob {
    0% { background-position: 80% 50%; }
    100% { background-position: -20% 50%; }
}
.anim-button {
    display: none;
}

/* Videos*/
.media_bg {
    background-image: url(http://selfyofficial.com.ua/wp-content/uploads/2016/04/black-background-pattern-2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    -webkit-backface-visibility: hidden;
}
.media_c {
    padding-top: 25px;
}
.embed_container {
    position: relative;
    margin-top: 10px;
    padding-bottom: 56.25%; /* 16/9 ratio */
    /*padding-top: 25px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
}
.embed_container iframe, .embed_container object, .embed_container embed {
    position: absolute;
    width: 95%;
    height: 95%;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.8), 3px 14px 14px rgba(0, 0, 0, 0.7);
}
.embed_container iframe:hover {
    border: 5px solid rgba(255, 255, 255, 0.8);
}
#m3 .embed_container iframe {
    width: 100%;
}
.more1, .less1 {
    padding: 10px;
    text-align: center;
    cursor: pointer
}
.less1 {
    display: none;
}

/* About */
.team-member, .team-position {
    text-align: center !important;
}
.team-position {
    margin-top:0;
    margin-bottom:10px;
    font-style: italic;
}
.member-photo {
    width: 85%;
    height: auto;
    padding-left: 30px;
    /*background-size: contain;
    -webkit-shape-outside:circle();
    shape-outside:circle();*/
}
#membs .member-photo, #membs .team-member {
    cursor: pointer;
}
.news_cell, #m1 .team-member, #m2 .team-member, .news_modal {
    background: #555;
    background: -webkit-linear-gradient(top, #555, #000);
    background: -o-linear-gradient(bottom, #555, #000);
    background: -moz-linear-gradient(bottom, #555, #000);
    background: linear-gradient(to bottom, #555, #000);
}
.team-member h3 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.team-member p {
    width: 100%;
}
.child img, .child h1 {
    cursor: pointer;
}
.child {
    top: 50px;
    left: 0;
    width: 66.66%;
    /*margin: 2em auto;*/
    padding: 0 20px;
}
.child p, .team-member:last-child p, .news_cell p {
    text-align: left;
    text-indent: 1.5em;
}
.parag {
    display: none;
}

/* Social Icon Look */
.social-icons {
    padding: 0;
    text-align: center;
}
.social-icons img {
    width: 30px;
}
.social-icons li {
    display: inline-block;
    border: none;
    padding: 0;
}
.social-icons li {
    margin: 0!important;
}
.social-icons a {
    display: inline-block;
    margin: 0 2px 5px 2px;
}

/* Gallery */
#gallery_block {
    background-color: #000;
    background: -webkit-radial-gradient(circle at top right, rgb(222, 62, 82), #000 40%);
    background: -o-radial-gradient(circle at top right, rgb(222, 62, 82), #000 40%);
    background: -moz-radial-gradient(circle at top right, rgb(222, 62, 82), #000 40%);
    background: radial-gradient(circle at top right, rgb(222, 62, 82), #000 40%);
    background-attachment: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 60;
}
.gallery {
    padding: 0;
    margin: 0; 
    text-align: center;
}
.gallery img {
    width: 100%;
    -webkit-transition: 0.5s;
}
.gallery img:hover, .member-photo img:hover {
    opacity: 0.5;
    cursor: pointer;
}
.gall-row {
    margin: 0;/*opacity*/
    padding: 5px;
    text-align: center !important;
}

/* for Gallery */
/* Modal Content (image) */
.modal-anim {    
    -webkit-animation-name: opac;
    -webkit-animation-duration: 0.5s;
    animation-name: opac;
    animation-duration: 0.5s;
}
@-webkit-keyframes opac {
    from {opacity: 0;} 
    to {opacity: 1;}
}
@keyframes opac {
    from {opacity: 0;} 
    to {opacity: 1;}
}
.modal-slide {    
    -webkit-animation-name: bias; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: bias;
    animation-duration: 1s;
}
@-webkit-keyframes bias {
    0%   {left:100px; top:0px;}
    100%  {left:0px; top:0px;}
}
@keyframes bias {
    0%   {left:100px; top:0px;}
    100%  {left:0px; top:0px;}
}
.close, #slider_auto {
    padding: 0 10px;
    bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}
/*#slider_auto {
    margin-left: 10px;
}*/
#slider_auto img {
    height: 35px;
    width: auto;
}
.close {
    position: top 50%;
    top: 50px;
    text-align: center;
    z-index: 102;
}
#close4 span {
    padding-top: 0;
}
/*#slider_auto {
    padding: 0 10px;
    bottom: 20px;
    position: relative;
    text-align: center;
    bottom: 10px;
    position: fixed;
}*/

/*Modals*/
.swiper-container {
    top: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
}
.swiper-slide img, #m3 img {
    border-radius: 7px;
}
.swiper-slide img:hover, #m3 img:hover {
    opacity: 1;
}
.swiper-button-next, .swiper-button-prev {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    -webkit-transition: color 0.5s;
}
.swiper-button-prev {
    border-radius: 0 2px 2px 0;
}
.swiper-button-next {
    right: 0;
    border-radius: 2px 0 0 2px;
}
.swiper-button-prev:hover, .swiper-button-next:hover, .swiper-button-prev:active, .swiper-button-next:active {
    color: #de3e52;
}
#m3 img:hover {
    cursor: auto;
}
.swiper-slide img:hover {
    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: url(img/grab.cur); /* fallback: Internet Explorer */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor: -moz-grab; /* Firefox 1.5-26 */
    cursor: grab; /* W3C standards syntax, should come least */
}
.swiper-container .swiper-slide {
    height: 300px;
    line-height: 300px;
}
/*.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  opacity: 1;
  background: rgba(255, 255, 255, 0.2);
}
.swiper-pagination-bullet-active {
  background: #de3e52;
}*/
#m1, #m2, #m3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100% !important; /* Full width */
    height: 100% !important; /* Full height */
    overflow: hidden; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
    z-index: 101; /* Sit on top */
}
#m1, #m2 {
    padding-top: 70px; /* Location of the box */
}
#m1 .team-member h3 {
    text-indent: 25px;
}
.members {
    overflow-y: scroll;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 0;
}
.members img {
    max-width: 100%;
    max-height: 90%;
}
#m1 ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}
#m1 ul li {
    margin: 0;
    position: relative;
    float: left;
    width: 60vh;
    height: auto;
}
#m1 ul li img {
    width: 100%
}
#m3 {
    padding-top: 0;
    overflow-y: scroll;
}
#m3 img, #m3 span {
    text-align: center;
}
#m3 .close img {
    padding-top: 0;
}
#m3 span {
    top: 0;
}
#m3 .social-icons img {
    width: 20px;
}
#img_modal {
    padding-top: 61px;
}
.news_modal {
    margin: 0 auto;
    padding: 0 20px;
    width: 66.6%;
    border-radius: 7px;
}
.social_modal {
    width: 33.3%;
    margin: 0 auto;
    background-color: #777;
    text-align: center;
    cursor: pointer;
    transition: background-color .5s;
}
.social_modal a {
    color: #fff;
}
.social_modal img {
    padding-left: 10px;
    width: 50px;
    cursor: pointer;
}
.social_modal:hover {
    background-color: #de3e52;
}
#img_modal1, #img_modal2 {
    border-radius: 7px;
}
#img_modal1, #img_modal2 {
    position: relative;
    top: 10px;
    left: 10px;
    height: 500px;
    width: auto
}
/*#img_modal1:before, #img_modal2:before {
    content:'';
    display:inline-block;
    height: 100%;
    vertical-align:middle;
}*/
/*.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}*/

/* Button to load rest images of the gallery */
#gallery_block  {
    padding: 5px 7px;
    border: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
}
#gallery_block button, #news button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding: 10px 14px;
    border: none;
    text-align: center;
}
.close, #slider_auto, #gallery_block button, #news button, .social_modal {
    border-radius: 7px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background-color 0.8s;
    -moz-transition: background-color 0.8s;
    -o-transition: background-color 0.8s;
    transition: background-color 0.8s;
}
.close:hover {
    background-color: #de3e52;
}
#gallery_block button:hover, #news button:hover {
    background-color: #de3e52;
}
#gallery_block button:hover:after, #news:hover:after {
    background-color: #555;
}
#slider_auto:hover {
    background-color: #de3e52;
}
#slider_auto:after {
    background-color: #555;
}

/* Music block */
#music_block {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.audio_container {
    width: 100%;
    padding-top: 25px;
    overflow: hidden;
}

/* News block */
.news_cell {
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    display: block;
    text-align: center;
}
.news_cell img {
    max-width: 100%;
    max-height: 350px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    cursor: pointer;
    -webkit-transition: 0.5s;
}
.news_cell img:not(.modal):hover {
    opacity: 0.5;
}
.news_text {
    margin-top: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
}
.news_cell h3 {
    cursor: pointer;
}
.news_text h3, .news_modal h3 {
    color: #fff;
    text-align: center !important;
}
.news_text p {
    color: #fff;
    text-align: left;
}
.news_date {
    color: #555;
    font-style: italic;
    text-align: right !important;
}
.news_modal .news_date {
    padding-bottom: 5px;
}
#news .button_load {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Contacts */
#contact_block {
    display: block;
    margin-bottom: 0;
    width: 100%;
    text-indent: 0;
}
.contacts {
    display: table;
    margin: 0;
    padding: 0 20px;
}
.contacts img {
    margin-right: 10px;
    width: 25px;
    vertical-align: middle;
}
.contacts_p {
    padding: 0;
    display: table-cell;
    color: #fff;
}
.social_c {
    padding: 10%;
}
.social_c img {
    width: 100px;
    padding: 0 15px;
}
.music_c img {
    width: 90px;
    padding: 0 15px;
}
.music_c {
    padding: 15px;
}

/* Effects */
.social_c li, .social-icons img, .music_c img {
    border-radius: 50%;
}
.social_c li, .social-icons img, .music_c img {
    -webkit-transition: box-shadow 0.5s ease;
    -moz-transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    -webkit-backface-visibility: hidden;
}
.social_c li:hover, .social-icons img:hover, .music_c img:hover {
    box-shadow: 0 0 0 8px rgba(255, 255, 255, 0.3);
    background-color: rgba(222, 62, 82, 0.3);/*228, 71, 60, 0.3)*/
}
.social_c li:hover:before, .social-icons img:hover:before, .music_c img:hover:before {
    box-shadow: 0 0 0 1px #fff;
    opacity: .8;
}
.social_c li:before, .social-icons img:before, .music_c img:before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #fff;
}

/* Footer */
#page_footer, #page_footer p {
    margin: 0;
    padding: 3px 0;
    background: #fff;
    font-size: 12px;
    font-style: italic;
    color: #000
}

/* OnTop link */
.ontop {
    width: 60px;
    height: 45px;
    bottom: 0;
    right: 0;
    position: fixed;
    cursor: pointer;
    z-index: 19;
}
.ontop img {
    width: 40px;
}
.ontop:hover, .more1:hover, .less1:hover {
    -webkit-animation: bounce 0.7s ease; /* Safari 4.0 - 8.0 */
    animation: bounce 0.7s ease;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    25% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    75% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
    }
}
